body{
  font-family: 'Open Sans';
  color: #555;
}

/* MENU */
.todo-header{
  padding: 10px;
  background:#fafafa;
}
.todo-header > h1{
  font-size: 24px;
  padding-top: 5px;
}

/* Page Header */
.page-header{
  margin: 40px 0px;
  display: block;
  border-bottom: 1px solid #d1d1d1;
  font-size: 16px;
}
.page-header > h2{
  font-size: 20px;
}
.page-header > h2 > small{
  color: #d1d1d1;
  font-size: 16px;
}
.page-header > h2 > small::before{
  content: "|"
}
